/*Whubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,
Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross 
browser supported, best quality world class designs.*/

body {
    padding: 0;
    margin: 0;
}

h1 {
    padding-top: 20px;
}

.col-md-3 {
    padding: 5px;
}

#w3hubs {
    margin-top: 50px;
}

#w3hubs .b1 {
    background: #8E44AD;
    color: #fff;
    height: 280px;
    transition: 0.6s;
}

#w3hubs .b1:hover {
    background: #7DCEA0;
    transition: 0.9s;
}

#w3hubs .b2 {
    background: #DC7633;
    color: #fff;
    height: 280px;
    transition: 0.6s;
}

#w3hubs .b2:hover {
    background: #95A5A6;
    transition: 0.9s;
}

#w3hubs .b3 {
    background: #EC7063;
    color: #fff;
    height: 280px;
    transition: 0.6s;
}

#w3hubs .b3:hover {
    background: #F1C40F;
    transition: 0.9s;
}

#w3hubs .b4 {
    background: #3498DB;
    color: #fff;
    height: 280px;
    transition: 0.6s;
}

#w3hubs .b4:hover {
    background: #273746;
    transition: 0.9s;
}

.fa {
    padding-top: 0px;
    display: block;
    font-size: 8px;
    text-align: center;
}

@media(max-width: 200px) {
    .col-xs-12 {
        margin: 0 auto;
        max-width: 90%;
    }
    .fa {
        font-size: 90px;
    }
}